@import url("https://assets.mlcdn.com/fonts.css?version=1762785");
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 1 1000;
  font-stretch: 75% 100%;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/ArialBlack/ArialBlack.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-bg-color: #170d2b;
  --second-bg-color: #292054;
  --third-bg-color: #594b881a;
  --main-text-color: #ffffff;
  --second-text-color: #afa4d4;
  --third-text-color: #d4cbf2;
  --four-text-color: #7b6cac;
  --link-color: #669bff;
  --accent-color: #f0b464;
  --main-font-family: "Roboto";
  --second-font-family: "Arial";
  --third-font-family: "Gilroy";
  --line-1: 1;
  --line-2: 1.2;
  --line-3: 1.3;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--main-bg-color);
}

a {
  background-color: transparent;
  transition: all 0.25s;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  position: relative;
  font-family: var(--main-font-family), sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: var(--line-2);
  color: var(--main-text-color);
  background: linear-gradient(
    180deg,
    #1c1330 14%,
    #281948 42%,
    #211241 68%,
    #1c1330 100%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: all 0.25s;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
.link-hover:hover,
.link-hover:focus-within {
  color: var(--accent-color);
}
.name {
  font-weight: 700;
  font-size: 2.6rem;
}
.text {
  font-family: var(--second-font-family);
  font-size: 1.6rem;
  color: var(--third-text-color);
}

.section {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.container-top {
  padding-top: 10rem;
  padding-bottom: 0;
}

.box {
  display: flex;
  flex-direction: column;
}

.box-row {
  display: flex;
  flex-direction: row;
}

.access__box {
  max-width: 52.8rem;
  width: 100%;
  margin: auto 0 auto auto;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.access {
  min-height: 100vh;
  height: 100vh;
}
.access__title {
  margin-top: 3.4rem;
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 6.8rem;
  text-transform: uppercase;
}
.access__text {
  font-family: var(--second-font-family);
  font-size: 2.6rem;
  color: var(--third-text-color);
}
.access {
  background: url(./assets/access/koala-desk-access.png),
    url(./assets/access/bg-desk-access.jpg);
  background-position: left bottom, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}
@media (max-width: 768px) {
  .access {
    padding-top: 4rem;
    background: url(./assets/access/koala-mob-access.png),
      url(./assets/access/bg-mob-access.jpg);
    background-position: center bottom, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }
  .access__box {
    max-width: 100%;
    margin: 0 auto;
    gap: 4rem;
  }

  .access__title {
    margin-top: 4.4rem;
    font-size: 4.2rem;
  }
}
